/*default version */
@font-face {
  font-family: "Cera Round Pro DEMO";
  src: url("../fonts/Cera-Pro/CeraRoundProDEMO-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

/*Light version */
@font-face {
  font-family: "Cera Round Pro DEMO";
  src: url("../fonts/Cera-Pro/CeraRoundProDEMO-Light.otf");
  font-weight: light;
  font-style: light;
}

/*Bold version */
@font-face {
  font-family: "Cera Round Pro DEMO";
  src: url("../fonts/Cera-Pro/CeraRoundProDEMO-Bold.otf");
  font-weight: bold;
  font-style: bold;
}

/*Bold version */
@font-face {
  font-family: "Cera Round Pro DEMO";
  src: url("../fonts/Cera-Pro/CeraRoundProDEMO-Medium.otf");
  font-weight: medium;
  font-style: medium;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

:root {
  --white: #ffffff;
  --blue: #479ceb;
  --lightBlue: #a3cef5;
  --grey: #808080;
  --text-blue: #0a345a;
  --sneakBackground: #03101b;
}

body {
  background: var(--white);
  font-family: "Cera Round Pro DEMO";
  overflow-x: hidden;
}

/* General */

.separator {
  display: none;
}

@media screen and (min-width: 768px) {
  .separator {
    width: 10rem;
  }
}

/* General */

/* Navbar */
#mainNav {
  background-color: var(--white);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Cera Round Pro DEMO";
  font-weight: 400;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

.navbar__logo1 {
  width: 2.5rem;
}

.navbar__logo2 {
  width: 8rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white-color);
}

#mainNav .navbar-brand {
  transition: font-size 0.3s ease-in-out;
}

#mainNav.navbar-shrink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--white);
  margin: 0 auto;
  box-shadow: 3px 1px 13px hsla(228, 6%, 66%, 0.3);
  transition: all 0.3s ease-in-out;
}
/*
#mainNav.navbar-shrink .navbar-brand {
  transform: scale(1.4);
}

#mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
  height: 1.5rem;
}*/

.navbar__logo2 path {
  fill: var(--text-blue);
}

#mainNav.navbar-shrink .navbar__logo2 path {
  fill: var(--text-blue);
}

.navbar__button {
  background: var(--blue);
  border: 2px solid var(--blue);
  padding: 0.85rem 1.3rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: var(--white) !important;
  transition: all 0.5s ease-in-out;
}

#mainNav.navbar-shrink .navbar__button {
  display: block;
}

#mainNav.navbar-shrink .navbar__button svg {
  width: 50px;
}

#mainNav.navbar-shrink .navbar__button:hover {
  border: 2px solid var(--blue);
  background: transparent;
  color: var(--blue) !important;
  text-decoration: none;
}

#mainNav.navbar-shrink .navbar__button svg path {
  transition: all 0.5s ease-in-out;
}

#mainNav.navbar-shrink .navbar__button:hover svg path {
  stroke: var(--blue) !important;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@media screen and (min-width: 968px) {
  #mainNav {
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }

  .navbar__logo2 path {
    fill: var(--white);
  }

  #mainNav .container-fluid {
    max-width: 1400px;
  }

  .btn-navbar {
    margin-left: 1rem;
  }

  .navbar__button {
    display: none;
  }
}
/* Navbar*/

/* Masthead */
#masthead {
  background-image: url("../images/background.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 89px;
  margin-bottom: 5rem;
}

#masthead .container {
  height: 100%;
}

#masthead h1 {
  padding-top: 6rem;
  color: var(--white);
  font-weight: bold;
  font-size: 1.5rem;
}

#masthead h1::after {
  content: " .";
  color: var(--blue);
  font-size: 1.5rem;
}

#masthead p {
  color: var(--lightBlue);
  font-size: 1.3rem;
}

#masthead .form-group {
  border-radius: 5px;
}

.masthead__button {
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  border: 2px solid var(--blue);
  transition: all 0.5s ease-in-out;
}

.masthead__button:hover {
  background-color: transparent;
  color: var(--blue);
}

.masthead__image {
  position: relative;
}

.masthead__mobile {
  padding-top: 2rem;
  position: relative;
  z-index: 1;
}

.masthead__circle {
  width: 200px;
  height: 200px;
  top: -2%;
  right: 0;
  border-radius: 100%;
  background: linear-gradient(230.31deg, #047f8b 5.71%, #a3cef5 92.29%);
  z-index: 0;
}

.masthead__comming {
  opacity: 0;
  font-size: 1.5rem;
}

.masthead__comming.showmsg {
  opacity: 1;
  color: var(--white);
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: var(--white);
  }
  49% {
    color: var(--white);
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: var(--white);
  }
}




@media screen and (min-width: 300px) {
  .masthead__circle {
    width: 100px;
    height: 100px;
    top: 2%;
    right: -5%;
  }
}


@media screen and (min-width: 470px) {
  .masthead__mobile {
    padding-top: 2rem;
  }
  .masthead__circle {
    width: 150px;
    height: 150px;
    top: 2%;
    right: -9%;
  }
}

@media screen and (min-width: 768px) {
  #masthead {
    min-height: 100vh;
  }

  #masthead h1 {
    font-size: 2.5rem;
  }

  #masthead h1::after {
    font-size: 2.5rem;
  }

  #masthead p {
    width: 60%;
  }

  .masthead__mobile {
    padding-top: 2rem;
  }
}


@media screen and (min-width: 992px) {
  .masthead__circle {
    width: 200px;
    height: 200px;
    top: -2%;
    right: 1%;
  }
}


/* Masthead */

/* Functions */

#functions p {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.functions__title {
  display: inline;
  color: grey;
}
.functions__title h2 {
  font-size: 2.1rem;
  padding: 2rem 0;
}

.function__imgContainer {
  position: relative;
}

.functions__circle1 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  top: -8%;
  right: 0;
  background: linear-gradient(230.31deg, #047f8b 5.71%, #a3cef5 92.29%);
}

.functions__circle2 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  bottom: -8%;
  left: 0;
  background: linear-gradient(180deg, #8b0453 0%, #479ceb 100%);
}

@media screen and (max-width: 768px) {
  .functions__circle1,
  .functions__circle2 {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .functions__circle1,
  .functions__circle2 {
    width: 100px;
    height: 100px;
  }
}

/* Functions */

/* Options */
#options {
  background: var(--text-blue);
  color: var(--white);
}

.options__title {
  display: inline;
  color: var(--lightBlue);
}
.options__title h2 {
  font-size: 2.1rem;
  padding: 1rem 0;
}

.options__list {
  list-style-type: none;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: medium;
}

.options__list img {
  width: 50px;
}

.blue__color {
  color: var(--blue);
}

@media screen and (min-width: 768px) {
  .options__list {
    line-height: 1.8;
    font-size: 1.2rem;
  }
}

/* Options */

/* Sneak Peek */
#sneakpeek {
  background: var(--sneakBackground);
}

.swiper-container {
  width: 100%;
  max-height: 850px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem !important;
}

.swiper-slide img {
  width: 100%;
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 8px;
  display: inline-block;
  border-radius: 0;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  background: var(--white);
  opacity: 0.7;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--lightBlue) !important;
}

.lb-container img {
  width: 100%;
}

.swiper-slide {
  height: initial;
}

@media screen and (min-width: 1024px) {
  .swiper-slide img {
    width: 80%;
    opacity: 0.5;
  }

  .swiper-slide-next img {
    width: 100%;
    opacity: 1;
  }

  .swiper-pagination-bullet {
    width: 50px;
  }
}

/* Sneak Peek */

/* Footer */
#footer {
  background: var(--text-blue);
  overflow: hidden;
}

#footer img {
  width: 11rem;
}

.footer__list {
  list-style-type: none;
  color: var(--lightBlue);
  font-size: 0.7rem;
}

.footer__links {
  list-style-type: none;
  color: var(--white);
}

.footer__links a {
  color: var(--white);
}

.footer__links a:hover {
  text-decoration: none;
  opacity: 0.7;
}

@media screen and (max-width: 320px) {
  .footer__links {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__list {
    font-size: 1rem;
  }
}

/* Footer */

/* Animations */

.animation__container {
  position: relative;
}

.checked-1 {
  position: absolute;
  top: 35%;
  left: 24%;
  opacity: 0;
  animation-name: check;
  animation-duration: 5s;
  animation-delay: -2.2s;
  animation-iteration-count: infinite;
}

.checked-2 {
  position: absolute;
  top: 48%;
  left: 65%;
  animation-name: check;
  animation-duration: 5s;
  animation-delay: -0.6s;
  opacity: 0;
  animation-iteration-count: infinite;
}

.checked-3 {
  position: absolute;
  top: 61%;
  left: 24%;
  animation-name: check;
  animation-duration: 5s;
  opacity: 0;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
}

.checked-4 {
  position: absolute;
  top: 75%;
  left: 24%;
  animation-name: check;
  animation-duration: 5s;
  animation-delay: -1.8s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 500px) {
  .checked-1,
  .checked-2,
  .checked-3,
  .checked-4 {
    width: 15%;
  }
}

@keyframes check2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes check {
  0%,
  20%,
  100% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
}

/* */

.options__text1 p {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  top: 27%;
  left: 21%;
  color: grey;
  background: white;
  position: absolute;
}

.options__white {
  position: absolute;
  background: var(--white);
  width: 81px;
  height: 20px;
  top: 40%;
  left: 21%;
  z-index: 0;
}

.options__text2 p {
  overflow: hidden;
  border-right: 0.15em solid grey; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  top: 39%;
  left: 21%;
  color: grey;
  background: var(--white);
  animation: typing 3.5s steps(25, end) alternate infinite,
    blink-caret 0.75s alternate infinite;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .options__text1 p,
  .options__text2 p {
    font-size: 0.6rem;
  }

  .options__white {
    top: 37%;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 44%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: grey;
  }
}

/* */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
